<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, shrink-to-fit=no , user-scalable=0">
    <meta name="author" content="Dotnet Cosmos Team">
    <meta name="Title" content="@ViewBag.Title">
    <meta name="keywords" content="@ViewBag.Keywords">
    <meta name="description" content="@ViewBag.description">
    <meta name="copyright" content="Copyright 2024">
    <title>@ViewBag.Title</title>
    <meta http-equiv="content-type" content="text/html">
    <meta name="format-detection" content="telephone=yes" />

    <!--Begin Favicon -->
    @*<link rel="icon" type="image/x-icon" href="~/Content/public/images/48x48.png">*@
    <link rel="icon" type="image/x-icon" href="~/Content/public/images/32x32.png">
    <!--End Favicon -->
    <!--Begin Apple Meta Tags -->
    <link rel="icon" type="image/x-icon" href="~/Content/public/images/16x16.png">
    <link rel="apple-touch-icon" sizes="16x16" href="~/Content/public/images/16x16.png" />
    <link rel="apple-touch-icon" sizes="32x32" href="~/Content/public/images/32x32.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/public/images//72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/public/images/76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/public/images/144x144.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/public/images/120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/public/images/144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/public/images/152x152.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="~/Content/public/images/167x167.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/public/images/180x180.png" />
    <!--End Apple Meta Tags -->
    <!--Begin Canonical  -->
    <link rel="canonical" href="https://dev.kreatetechnologies.com/kreate-fze" />
    <!--End Canonical  -->
    <!--Begin OG Properties -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="DotnetCosmos Website" />
    <meta property="og:title" content="Home - DotnetCosmos" />
    <meta property="og:description" content="DotnetCosmos, hamriyah free zone sharjah, hamriyah free zone companies, companies in hamriyah free zone ,sharjah hamriyah free zone, hamriyah free zone dubai, companies in hamriyah free zone sharjah, commodity trading uae, commodity trading in uae, commodity trading dubai, commodity trading in dubai, commodity trading companies, international commodity trading, oil commodity trading, commodity trading company, oil and gas commodity trading, Kreate Energy FZE Hamriyah Free Zone, Hamriyah Free Zone, Commodity Trading" />
    <meta property="og:url" content="https://dev.DotnetCosmos.com/DotnetCosmos" />
    <meta property="og:site_name" content="DotnetCosmos" />
    <link property="og_image" content="">
    <link property="og_image_type" content="image/jpg">
    <link property="og_img_width" content="1000">
    <link property="og_img_height" content="500">
    <!-- End OG Properties -->
    <!-- google fonts -->
    <link href="~/Content/public/css/font-poppins.css" rel="stylesheet">
    <!-- font awesome -->
    @*<link rel="stylesheet" href="~/Content/public/css/font-awesome6.min.css" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <!-- swiper slider css -->
    <link href="~/Content/public/css/swiper-bundle.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="~/Content/public/css/bootstrap.min.css" rel="stylesheet" />
    <!-- CSS -->
    <link href="~/Content/public/css/style.css" rel="stylesheet" />
    <script src="~/Content/public/css/swiper-bundle.min.js"></script>
    <scipt src="~/Content/public/css/bootstrap.bundle.min.js"></scipt>
    @*css for Logo*@
    <style>
        .cls-1 {
            fill: #fe9800;
        }

        .cls-1,
        .cls-2,
        .cls-3,
        .cls-4,
        .cls-5 {
            stroke-width: 0px;
        }

        .cls-2 {
            fill: #ffd400;
        }

        .cls-6 {
            isolation: isolate;
        }

        .cls-3 {
            fill: #fff;
        }

        .cls-4 {
            fill: url(#linear-gradient);
            fill-rule: evenodd;
        }

        .cls-5 {
            fill: #00bae8;
        }
    </style>



    <style>

        footer.footersection.footerabc {
            background: #242c42;
            color: #fff;
            padding-left: 10px;
            padding-right: 7px;

        }

        .footerabc-main {
            background-color: #242c42;
            overflow-x: hidden;
        }

        .title-widget {
            font-weight: 100;
            color: orange;
            padding-bottom: 10px;
            font-size: 16px;
            text-align: left;
        }

        .copyright {
            background-color: #041337;
            font-size: 13px;
            text-align:center;
        }


        .content-widget{
            font-size:14px;
        }
    </style>


</head>



<body>
    <header class="headerPage" id="headerPageId">
        <div class="header-mainxyz">
            <div class="container-fluid">
                <div class="header-main-wrapper">
                    <div class="logo pull-left">
                        <a href="/Home/Index">
                            <g>
                                <svg xmlns="http://www.w3.org/2000/svg" width="230" height="70">
                                    <text x="10" y="45" font-family="Arial" font-size="30" fill="black">Dotnet Cosmos</text>
                                </svg>
                            </g>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <nav class="navbar navbar-expand navbar-dark topMenuHorizontal sticky-top">
        <nav class="collapse navbar-collapse" id="topMenu">
            <ul class="navbar-nav mr-auto left">
                <li class="nav-item">
                    <a href="~/Home/Index" class="nav-link home-icon">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </nav>





    <div class="body-content">
        @RenderBody()
    </div>


    <footer class="footersection footerabc pt-5">
        <div class="footerabc-main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="edugate-widget widget">
                            <div class="title-widget">DotnetCosmos.com</div>
                            <div class="content-widget">
                                <p>
                                    DotnetCosmos.com is your authoritative source for comprehensive technologies tutorials, tailored to guide you through mastering various web and other technologies through a step-by-step approach.
                                </p>
                                <p>
                                    Our content helps you to learn technologies easily and quickly for learners of all levels. By accessing this platform, you acknowledge that you have reviewed and consented to abide by our <a href="/Home/Privacy_Policy">Terms of Use</a> and <a href="/Home/Privacy_Policy">Privacy Policy</a>, designed to safeguard your experience and privacy rights.
                                </p>


                                <ul>
                                    <li><i class="fa fa-envelope-o"></i><a href="/Home/About">Contact </a></li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="mailing-widget widget">
                                    <div class="title-widget">E-mail list</div>
                                    <div class="content-widget">
                                        <p>
                                            Subscribe to DotnetCosmos email list and get latest updates, tips &amp;
                                            tricks on C#, .Net, JavaScript, jQuery, to your inbox.
                                        </p>

                                        <p>We respect your privacy.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright pt-1 pb-1">© 2024 DotnetCosmos. All rights Reserved.</div>
        <div class="copyright pt-1 pb-1">© www.DotnetCosmos.com. All rights reserved. Developed by Dotnet Cosmos Team</div>
    </footer>






    @*Footer Part Start*@
    @*<footer class="footer-text text-center mt-5">
            <div class="container-fluid">
                <div class="row justify-content-between">
                    <div class="col-lg-4 col-md-6 col-sm-12 p-0">

                        <div class="card card-body footer_card">

                            <div class="footer-icon">
                                <i class="fa fa-map-marker-alt text-danger"></i>
                            </div>
                            <div class="footer-text">
                                Vaishali, Ghaziabad, India
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 p-0">
                        <div class="card card-body footer_card">
                            <div class="footer-icon">
                                <i class="fa fa-phone text-success" aria-hidden="true"></i>
                            </div>
                            <div class="footer-text">
                                <ul>
                                    <li>
                                        <span>
                                            <a href="tel:9898989898" class="text-white">
                                                <i class="fa fa-phone mx-3 text-success"></i>
                                                9898989898
                                            </a>
                                        </span>
                                    </li>
                                    <li>
                                        <a href="mailto:DotnetCosmos@gmail.com" class="text-white ps-4">
                                            <span>
                                                <i class="fa fa-envelope mx-3 text-warning"></i>
                                            </span> DotnetCosmos@gmail.com
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright pt-1 pb-1">© 2024 DotnetCosmos. All rights Reserved.</div>
            <div class="copyright pt-1 pb-1">© www.DotnetCosmos.com. All rights reserved. Developed by Dotnet Cosmos Team</div>
        </footer>*@
    @*Footer Part End*@
</body>
</html>
