<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, shrink-to-fit=no , user-scalable=0">
    <meta name="author" content="Dotnet Cosmos Team">
    <meta name="Title" content="@ViewBag.Title">
    <meta name="keywords" content="@ViewBag.Keywords">
    <meta name="description" content="@ViewBag.description">
    <meta name="copyright" content="Copyright 2024">
    <title>@ViewBag.Title</title>
    <meta http-equiv="content-type" content="text/html">
    <meta name="format-detection" content="telephone=yes" />

    <!--Begin Favicon -->
    @*<link rel="icon" type="image/x-icon" href="~/Content/public/images/48x48.png">*@
    <link rel="icon" type="image/x-icon" href="~/Content/public/images/32x32.png">
    <!--End Favicon -->
    <!--Begin Apple Meta Tags -->
    <link rel="icon" type="image/x-icon" href="~/Content/public/images/16x16.png">
    <link rel="apple-touch-icon" sizes="16x16" href="~/Content/public/images/16x16.png" />
    <link rel="apple-touch-icon" sizes="32x32" href="~/Content/public/images/32x32.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/public/images//72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/public/images/76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/public/images/144x144.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/public/images/120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/public/images/144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/public/images/152x152.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="~/Content/public/images/167x167.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/public/images/180x180.png" />
    <!--End Apple Meta Tags -->
    <!--Begin Canonical  -->
    <link rel="canonical" href="https://dev.kreatetechnologies.com/kreate-fze" />
    <!--End Canonical  -->
    <!--Begin OG Properties -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="DotnetCosmos Website" />
    <meta property="og:title" content="Home - DotnetCosmos" />
    <meta property="og:description" content="DotnetCosmos, hamriyah free zone sharjah, hamriyah free zone companies, companies in hamriyah free zone ,sharjah hamriyah free zone, hamriyah free zone dubai, companies in hamriyah free zone sharjah, commodity trading uae, commodity trading in uae, commodity trading dubai, commodity trading in dubai, commodity trading companies, international commodity trading, oil commodity trading, commodity trading company, oil and gas commodity trading, Kreate Energy FZE Hamriyah Free Zone, Hamriyah Free Zone, Commodity Trading" />
    <meta property="og:url" content="https://dev.DotnetCosmos.com/DotnetCosmos" />
    <meta property="og:site_name" content="DotnetCosmos" />
    <link property="og_image" content="">
    <link property="og_image_type" content="image/jpg">
    <link property="og_img_width" content="1000">
    <link property="og_img_height" content="500">
    <!-- End OG Properties -->
    <!-- google fonts -->
    <link href="~/Content/public/css/font-poppins.css" rel="stylesheet">
    <!-- font awesome -->
    @*<link rel="stylesheet" href="~/Content/public/css/font-awesome6.min.css" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <!-- swiper slider css -->
    <link href="~/Content/public/css/swiper-bundle.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="~/Content/public/css/bootstrap.min.css" rel="stylesheet" />
    <!-- CSS -->
    <link href="~/Content/public/css/style.css" rel="stylesheet" />
    <script src="~/Content/public/css/swiper-bundle.min.js"></script>
    <scipt src="~/Content/public/css/bootstrap.bundle.min.js"></scipt>
    @*css for Logo*@
    <style>
        .cls-1 {
            fill: #fe9800;
        }

        .cls-1,
        .cls-2,
        .cls-3,
        .cls-4,
        .cls-5 {
            stroke-width: 0px;
        }

        .cls-2 {
            fill: #ffd400;
        }

        .cls-6 {
            isolation: isolate;
        }

        .cls-3 {
            fill: #fff;
        }

        .cls-4 {
            fill: url(#linear-gradient);
            fill-rule: evenodd;
        }

        .cls-5 {
            fill: #00bae8;
        }
    </style>
</head>

<body>
  

    @*header part Start*@
    <div class="slider">
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center header_row">
                <div class="col-lg-2 col-md-2 col-sm-12 header_logo">
                    <a href="/Home/Index">
                        <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 229.3 51.25">
                            <defs>
                                <linearGradient id="linear-gradient" x1="-819.01" y1="165.71" x2="-818.43" y2="165.71" gradientTransform="translate(19583.85 5831.48) rotate(1) scale(24.02 -32.93)" gradientUnits="userSpaceOnUse">
                                    <stop offset="0" stop-color="#00e0ff" />
                                    <stop offset="1" stop-color="#0071bc" />
                                </linearGradient>
                            </defs>

                            <g>
                                <svg xmlns="http://www.w3.org/2000/svg" width="400" height="50">
                                    <text x="10" y="35" font-family="Arial" font-size="30" fill="white">Dotnet Cosmos</text>
                                </svg>
                            </g>
                        </svg>
                    </a>
                </div>
                @*toggle start*@


                <div class="d-flex justify-content-end toggle_btn d-none">
                    <div class="toggle">
                        <span class="line-toggle"></span>
                        <span class="line-toggle"></span>
                        <span class="line-toggle"></span>
                    </div>
                </div>

                <div class="col-md-7 col-lg-7 col-sm-12 header_hide">
                    <nav>
                        <ul class="main-menu d-flex justify-content-end align-items-center">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Product", "Product", "Home")</li>
                            <li>@Html.ActionLink("Customer", "Customer", "Home")</li>
                            <li>@Html.ActionLink("Supplier", "Supplier", "Home")</li>
                        </ul>
                    </nav>
                </div>
                @*Conatct Button*@
                <div class="col-md-3 header_hide pe-0">
                    <div class="bg-success contact_btn d-flex justify-content-start align-items-center p-4">
                        <a href="contact" class="text-dark">
                            Contact
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="16.455" viewBox="0 0 35 16.455">
                                <g id="Iconly_Light_Arrow---Down" data-name="Iconly/Light/Arrow---Down"
                                   transform="translate(34.25 1.061) rotate(90)">
                                    <g id="Arrow---Down" transform="translate(0 0)">
                                        <line id="Stroke-1" y2="33.5" transform="translate(7.167 0)" fill="none" stroke="#000"
                                              stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                                        <path id="Stroke-3" d="M14.333,7.2,7.167,0,0,7.2" transform="translate(0 0)" fill="none"
                                              stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                              fill-rule="evenodd" />
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="slider-text">
                    <p>
                        Learn ASP.Net
                        <span>Restart From Here</span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    @*Footer Part Start*@
    <footer class="footer-text text-center mt-5">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4 col-md-6 col-sm-12 p-0">

                    <div class="card card-body footer_card">

                        <div class="edugate-widget widget">
                            <div class="title-widget">TutorialsTeacher.com</div>
                            <div class="content-widget">
                                <p>
                                    TutorialsTeacher.com is your authoritative source for comprehensive technologies tutorials, tailored to guide you through mastering various web and other technologies through a step-by-step approach.

                                </p>
                                <p>
                                    Our content helps you to learn technologies easily and quickly for learners of all levels. By accessing this platform, you acknowledge that you have reviewed and consented to abide by our <a href="/aboutus/terms-of-use">Terms of Use</a> and <a href="/aboutus/privacy-policy">Privacy Policy</a>, designed to safeguard your experience and privacy rights.
                                </p>


                                <div class="info-list">
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-envelope-o"></i><a href="/contact">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>




                        <div class="footer-icon">
                            <i class="fa fa-map-marker-alt text-danger"></i>
                        </div>
                        <div class="footer-text">
                            Vaishali, Ghaziabad, India
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 p-0">
                    <div class="card card-body footer_card">
                        <div class="footer-icon">
                            <i class="fa fa-phone text-success" aria-hidden="true"></i>
                        </div>
                        <div class="footer-text">
                            <ul>
                                <li>
                                    <span>
                                        <a href="tel:9898989898" class="text-white">
                                            <i class="fa fa-phone mx-3 text-success"></i>
                                            9898989898
                                        </a>
                                    </span>
                                </li>
                                <li>
                                    <a href="mailto:DotnetCosmos@gmail.com" class="text-white ps-4">
                                        <span>
                                            <i class="fa fa-envelope mx-3 text-warning"></i>
                                        </span> DotnetCosmos@gmail.com
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright pt-1 pb-1">© 2024 DotnetCosmos. All rights Reserved.</div>
        <div class="copyright pt-1 pb-1">© www.DotnetCosmos.com. All rights reserved. Developed by Dotnet Cosmos Team</div>
    </footer>
    @*Footer Part End*@


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
